extends ../layout

block content
  h1= title

  ul
    li Name: - #{beer.name}
    li Price: - #{beer.price}
    li Alcohol: - #{beer.alcohol}
    li Category: - #{beer.category}
    li Description: - #{beer.description}
  form(action='/api/beers/#{beer._id}', method='post')
    input(type='hidden', name='_method', value='DELETE')
    input(type='submit', value='REMOVER')


